<h1>My movie lists</h1>
  <% @lists.each do |list| %>
  <div class="card">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1759&q=80" alt="Card image cap">
      <div class="card-body">
      <p><%= link_to list.name, list_path(list) %></p>
  </div>  <% end %>

<%= link_to "Create a new list", new_list_path, class: "btn btn-primary" %>
